.search-box-container {
    padding-bottom: 20px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-box {
    display: flex;
    justify-content: space-between;
}

.search-input {
    border-radius: 20px;
    border: 1px solid grey;
    padding: 0 10px;
    outline: none;
    margin-right: 20px;
}